<div class="card">
    <div class="card-header bg-secondary text-white">
        <div class="float-left">ngClass Directive</div>
        <button type="button" (click)="ngClassMethod()" class="btn btn-sm float-right"
            [ngClass]="{'bth-danger': status, 'btn-primary': !status}">Click</button>
    </div>
    <div class="card-body" [ngClass]="{'alert-danger': status}">
        <div>
            Lorem ipsum is simply dummy text of the printing and typesetting industy
            Lorem Ipsum has been the industy's standard dummy text ever since the 1500s,
        </div>
    </div>
</div>